<!DOCTYPE html>
<head>
        <meta charset="utf-8">
        <title>백엔드수업</title>

</head>
<body>
    <div>안녕하세요!</div>
    <%=name%>님,(<%=gender%>,<%=birthYear%>,<%=birthMonth%>,<%=birthDay%>,관심사:<%=fav%>)

    


</body>
</html>